.background_tabInicio {
	background-color:#7986cb;
}

.footer {
	position:absolute;
	bottom:0px; 
}

.sin_margen {
	margin:0px; 
}

.sin_padding {
	padding-top:0px; 
	padding-bottom:0px; 
	padding-left:0px; 
	padding-right:0px; 
}

.auto_margen {
	margin:auto;
}

.texto_itsv {
	margin-top:42.5px; 
}

.frase_itsv {
	margin-top:0px;
	margin-bottom:15px;  
}

.logo_itsv {
	height:150px;
	width:278px;  
	margin:auto; 
	margin-top:15px;
	margin-bottom:15px; 
}

.texto_anuncios {
	margin:5px; 
	padding-top:5px; 
	margin-left:10px; 
}

.tabla_anuncios {
	margin:25px;
	margin-left:85px;
	margin-right:85px; 
	padding-bottom:15px; 
}

#boton_enviar {
	margin: 0 auto !important;
}

.margin_5px {
	margin:5px; 
}

.margin_user {
	margin-top:10px;
	margin-bottom:10px;   
}

.margin_ol_contr {
	margin-bottom:0px; 
}

.icons_pa {
	margin-right:5px; 
}

.style_anuncios {
	padding:0px;
	margin:15px; 
	margin-bottom:0px; 
	padding-bottom:1px; 
}

.divider_2 {
	margin-left:15px;
	margin-right:15px; 
}

.menos_bottom {
	margin-bottom:7.5px; 
}

#chip {
	margin-left:11.25px;
	margin-right:11.25px; 
}

#cont_anuncio {
	padding:25px;	
}

#padding_comment {
	padding-right:25px;
	padding-left:25px; 
	padding-top:10px;
	padding-bottom:10px;  
}

#padding_text {
	padding-right:25px;
	padding-left:25px; 
	padding-bottom:10px;  
}

#cont_comment {
	margin-bottom:10px;  
}

li {
	margin-top:2.5px; 
	margin-bottom:2.5px;
}